
        *{
            background-color: rgb(20, 20, 20);
            color: white;
            font-family: Arial;
        }
        .title{
            font-size: 30px;
            font-weight: bold;
        }
        img{
            width: 80px;
        }
        .move-button{
            background-color: transparent;
            border: 4px solid white;
            border-radius: 100px;
            width: 150px;
            height: 150px;
            margin-right: 15px;
            cursor: pointer;
            

        }
        .result{
            font-weight: bold;
            font-size: 25px;
            margin-top: 15px;
        }

        .score{
            margin-top: 60px;
        }
        .reset-btn{
            background-color: white;
            border: none;
            color: black;
            font-size: 15px;
            padding: 10px 15px;
            cursor: pointer;
        }
