body {
    margin: 0;
    padding: 0;
}

.bg-colored {
    background-color: #4d666b; 
    transition: background-color 0.3s ease; 
}

.nav-link {
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    margin-right: 7px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
    position: relative;
    display: inline-block;
    padding: 5px 15px;
    text-decoration: none;
    border-radius: 5px;
    transition: all 0.3s ease;
    border-radius: 20px;
}

.nav-link.activo, .nav-link:hover, .nav-link.active:hover {
    background-color: #8a7b62;
    color: white;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.nav-link {
    transition: all 0.3s ease;
}
.header-section {
    background-image: url('img/w.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #b8b5a2;
    position: relative;
    padding-top: 70px;
}

.wave-container {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    z-index: 1;
}

.header-content {
    padding: 50px 0;
    position: relative;
    z-index: 2;
}

.header-content h1 {
    font-family: "Delicious Handrawn";
    font-size: 4.5rem;
    color: #fff;
    text-align: center;
}

.linea-bajo-navegador {
    position: absolute;
    left: 30px;
    right: 30px;
    top: 76px;
    border-bottom: 1px solid #ffffff;
    background-color: transparent;
    height: 0;
    z-index: 9999;
}

.header-content .btn-primary {
    background-color: #c97a74;
    border-radius: 40px;
    border: none;
    font-size: 15px;
    font-family: "Delius", sans-serif;
    padding: 12px 30px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: all 0.3s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.header-content .btn-primary:hover {
    background-color: #a55c57;
    transform: scale(1.1);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
    color: #fff;
}

.header-content .btn-primary:focus {
    outline: none;
    box-shadow: 0 0 10px rgba(169, 92, 87, 0.6);
}

.hedgehog-image {
    max-width: 60%;
    height: auto;
}
.logo-img{
    height: 70px;
}
.header-p{
    font-size: 2rem;
    font-family: "Delius", sans-serif;
    color: white;
    text-align: center;
}

.porque{
    background-color: #f5f2e9;
}
.porque-body{
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

footer{
    font-family: "Poppins", sans-serif;
}

footer a{
    font-family: "Delius", sans-serif;
}

.social a{
    text-decoration: none;
}

.porque-icon {
    width: 80px;
}
.porque h2{
    font-family: "Delius", sans-serif;
    color: #7C5A5A;
    font-weight: bold;
    font-size: 26px;
}
.porque h4{
    font-family: "Delius", sans-serif;
    color: #7C5A5A;
    font-size: 22px;
}
.porque p{
    font-family: "Poppins", sans-serif;
    color: #776868;
    font-size: 16px;
}

.sobre img{
    width: 500px;
}

.rocks-img1 {
    width: 90px;
    margin-bottom: 40px;
}
.rocks-img2 {
    width: 80px;
}
.sobre-container h2{
    font-family: "Delius", sans-serif;
    color: #7C5A5A;
}
.sobre-container p, .sobre-container li{
    font-family: "Poppins", sans-serif;
    color: #776868;
}

.line1 {
    width: 50%;
    height: 3px;
    background-color: #7C5A5A;
    margin-bottom: 20px;
}
.line2 {
    width: 20%;
    height: 3px;
    background-color: #7C5A5A;
    margin-bottom: 20px;
}